<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleGetInfoString</key>
	<string>HAL PLugin for AppleOnboardAudio</string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.aoa.halplugin</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>AOAHALPlugin</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>2.5.7</string>
	<key>CFBundleSignature</key>
	<string>aaud</string>
	<key>CFBundleVersion</key>
	<string>2.5.7f1</string>
</dict>
</plist>
