<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>Apple3Com3C90x</string>
	<key>CFBundleGetInfoString</key>
	<string>1.4.0, Copyright Apple Computer, Inc. 2000-2004</string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.driver.Apple3Com3C90x</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>3Com 3C90x Ethernet Driver</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>1.4.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.4.0</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>PCI 3C90x</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.Apple3Com3C90x</string>
			<key>IOClass</key>
			<string>Apple3Com3C90x</string>
			<key>IODefaultMedium</key>
			<string>Auto</string>
			<key>IOPCIMatch</key>
			<string>0x900010b7 0x900110b7 0x905010b7 0x905110b7</string>
			<key>IOProbeScore</key>
			<integer>2000</integer>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
		</dict>
		<key>PCI 3C90xB</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.Apple3Com3C90x</string>
			<key>IOClass</key>
			<string>Apple3Com3C90xB</string>
			<key>IODefaultMedium</key>
			<string>Auto</string>
			<key>IOPCIMatch</key>
			<string>0x900010b7&amp;0xf000ffff 0x920010b7</string>
			<key>IOProbeScore</key>
			<integer>1000</integer>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
			<key>TCP/IP Checksum</key>
			<true/>
		</dict>
	</dict>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.iokit.IONetworkingFamily</key>
		<string>1.4.3</string>
		<key>com.apple.iokit.IOPCIFamily</key>
		<string>1.6</string>
		<key>com.apple.kpi.bsd</key>
		<string>8.0.0b2</string>
		<key>com.apple.kpi.iokit</key>
		<string>8.0.0b2</string>
		<key>com.apple.kpi.libkern</key>
		<string>8.0.0b2</string>
		<key>com.apple.kpi.mach</key>
		<string>8.0.0b2</string>
	</dict>
	<key>OSBundleRequired</key>
	<string>Network-Root</string>
</dict>
</plist>
