<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SynapticsPreferences</key>
	<dict>
		<key>Hotspots</key>
		<array/>
		<key>ScrollAreas</key>
		<array/>
		<key>TwoFinger</key>
		<dict>
			<key>circularScrollingEnabled</key>
			<false/>
			<key>circularScrollingInvert</key>
			<false/>
			<key>circularScrollingRate</key>
			<integer>2</integer>
			<key>circularScrollingThreshold</key>
			<integer>2</integer>
			<key>horizontalScrollingEnabled</key>
			<true/>
			<key>horizontalScrollingInvert</key>
			<false/>
			<key>horizontalScrollingRate</key>
			<integer>90</integer>
			<key>horizontalScrollingThreshold</key>
			<integer>0</integer>
			<key>scrollDominantOnly</key>
			<true/>
			<key>verticalScrollingEnabled</key>
			<true/>
			<key>verticalScrollingInvert</key>
			<false/>
			<key>verticalScrollingRate</key>
			<integer>90</integer>
			<key>verticalScrollingThreshold</key>
			<integer>0</integer>
			<key>zAcceptThreshold</key>
			<integer>68</integer>
			<key>zAcceptsToStart</key>
			<integer>5</integer>
			<key>zArraySize</key>
			<integer>20</integer>
			<key>zDeclineThreshold</key>
			<integer>8</integer>
			<key>zDeclinesToStop</key>
			<integer>8</integer>
		</dict>
		<key>calibrateMode</key>
		<false/>
		<key>doubleTapTolerance</key>
		<integer>100</integer>
		<key>hasHotspots</key>
		<true/>
		<key>hasScrollAreas</key>
		<true/>
		<key>maxTapDragRevTime</key>
		<integer>500000000</integer>
		<key>maxTapDragTime</key>
		<integer>250000000</integer>
		<key>maxTapDuration</key>
		<integer>80000000</integer>
		<key>maxX</key>
		<integer>1</integer>
		<key>maxY</key>
		<integer>1</integer>
		<key>minDragAssumedTime</key>
		<integer>500000000</integer>
		<key>minTapDragTime</key>
		<integer>25000000</integer>
		<key>minTapDuration</key>
		<integer>25000000</integer>
		<key>minX</key>
		<integer>1000</integer>
		<key>minY</key>
		<integer>1000</integer>
		<key>physicalButton1Action</key>
		<integer>1</integer>
		<key>physicalButton2Action</key>
		<integer>2</integer>
		<key>physicalButtonBothAction</key>
		<integer>0</integer>
		<key>physicalButtonDragAction</key>
		<integer>1</integer>
		<key>scaleTrackpadSpeed</key>
		<true/>
		<key>speedScale</key>
		<integer>1600</integer>
		<key>tapTolerance</key>
		<integer>1000</integer>
	</dict>
</dict>
</plist>
