<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Kernel</key>
	<string>mach_kernel</string>
	<key>Kernel Flags</key>
	<string>rd=disk0s2</string>
	<key>Quiet Boot</key>
	<string>Yes</string>
	<key>device-properties</key>
	<string></string>
</dict>
</plist>
